<div class ="container">
  <%= form_with model:@customer, url:'/customers', local:true do |f| %>
 <div class ="row">
   <h5>会員情報編集</h5>
 </div>
 <div class ="row">
   <div class="col-md-2">
     <p>氏名</p>
   </div>
   <div class ="col-md-8">
    <%= f.text_field :last_name %>
    <%= f.text_field :first_name %>
   </div>
   </div>
   <div class ="row">
   <div class="col-md-2">
     <p>フリガナ</p>
   </div>
   <div class ="col-md-8">
    <%= f.text_field :last_name_kana %>
    <%= f.text_field :first_name_kana %>
   </div>
   </div>
   <div class ="row">
   <div class="col-md-2">
     <p>郵便番号</p>
   </div>
   <div class ="col-md-8">
    <%= f.text_field :postal_code %>
   </div>
   </div>
   <div class ="row">
   <div class="col-md-2">
     <p>住所</p>
   </div>
   <div class ="col-md-8">
    <%= f.text_area :address %>
   </div>
   </div>
   <div class ="row">
   <div class="col-md-2">
     <p>電話番号</p>
   </div>
   <div class ="col-md-8">
    <%= f.text_field :telephone_number %>
   </div>
   </div>
   <div class ="row">
   <div class="col-md-2">
     <p>メールアドレス</p>
   </div>
   <div class ="col-md-8">
    <%= f.text_field :email %>
   </div>
   </div>
   <div><%= f.submit '編集内容を保存', class:"btn btn-sm btn-success" %>
   <%= link_to "退会する", customers_confirmation_path, class:"btn btn-sm btn-danger" %></div>
 <% end %>
</div>