<div class ="container">
 <div class ="row">
  <h5>注文情報確認</h5>
 </div>
 <div class ="row">
  <div class="col-md-8">
   <table class ="table">
    <thead>
     <tr>
      <th>商品名</th>
      <th>単価</th>
      <th>数量</th>
      <th>小計</th>
     </tr>
    </thead>
    <% @cart_items.each do |cart_item| %>
    <% item = cart_item.item %>
    <tbody>
     <tr>
      <td><%= item.name %></td>
      <td><%= (item.price*1.08).to_i %></td>
      <td><%= cart_item.amount %></td>
      <td><%= (item.price*1.08).to_i*cart_item.amount %></td>
      <% @invoice +=  (cart_item.item.price * 1.08).floor * cart_item.amount %>
     </tr>
    </tbody>
    <% end %>
   </table>
  </div>
  <div class="col-md-2">
   <div>合計金額<%= @invoice %></div>
   <div>送料<%= @postage %></div>
   <div>請求金額<%= @invoice+@postage %></div>
  </div>
 </div>
 <div>支払方法<%= @order.payment_method_i18n %></div>
 <div>お届け先
  〒<%= @order.postal_code %>
  <%= @order.address %>
  <%= @order.name %>
 </div>
 <div class="col-md-5 mx-auto">
  <%= form_with model:@order, local:true do |f| %>
    <%= f.hidden_field :payment_method, :value => @order.payment_method %>
    <%= f.hidden_field :postal_code, :value => @order.postal_code %>
    <%= f.hidden_field :address, :value => @order.address %>
    <%= f.hidden_field :name, :value => @order.name %>
    <%= f.hidden_field :postage, :value => @postage %>
    <%= f.hidden_field :invoice, :value => @invoice %>
    <% @cart_items.each do |cart_item| %>
    <%= f.fields_for :order_details do |t| %>
      <%= t.hidden_field :order_id, :value => @order %>
      <%= t.hidden_field :price, :value => cart_item.item.price * 1.08 %>
      <%= t.hidden_field :amount, :value => cart_item.amount %>
      <%= t.hidden_field :item_id, :value => cart_item.item.id %>
      <% end %>
    <% end %>
    <%= f.submit '注文を確定する', class:"btn btn-sm btn-success" %>
  <% end %>
 </div>
</div>