<div class ="container">
 <div class ="row">
  <h5 class="col-md-9">注文履歴一覧</h5>
 </div>
 <table class="table">
  <div class="row">
   <tr>
    <th>注文日</th>
    <th>配送先</th>
    <th>注文商品</th>
    <th>支払金額</th>
    <th>ステータス</th>
    <th>注文詳細</th>
   </tr>
   <% @orders.each do |order| %>
   <tr>
    <td></td>
    <td>
     <div>〒<%= order.postal_code %></div>
     <div><%= order.address %></div>
      <div><%= order.name %></div>
    </td>
    <% order_details each do |order_detail| %>
    <td><%= order_detail.item.name %></td>
    <td><%= (order_detail.item.price*1.08).to_i %></td>
    <td></td>
    <td></td>
   </tr>
   <% end %>
   <% end %>
  </div>
 </table>
</div>
