<div class ="container">
 <div class ="row">
  <h5>注文情報入力</h5>
 </div>
 <%= form_with model:@order, url: orders_confirm_path, local:true do |f| %>
 <div>支払方法</div>
  <div>
   <%= f.radio_button :payment_method, Order.payment_methods.key(0) %>
   <%= f.label :payment_method, Order.payment_methods_i18n[:credit_card] %>
   <%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
   <%= f.label :payment_method, Order.payment_methods_i18n[:transfer]%>
  </div>
  <div>お届け先</div>
  <div>
   <%= f.radio_button :select_address, 1 %>
   <%= f.label :select_address, "ご自身の住所" %>
  <div>
  〒<%= @customer.postal_code %>
  　<%= @customer.address %>
  　<%= @customer.last_name %>
  　<%= @customer.first_name %>
  </div>
  </div>
  <div>
   <%= f.radio_button :select_address, 2 %>
   <%= f.label :select_address, "登録済住所から選択" %>
   <div>
    <%= f.select :address_id, options_from_collection_for_select(Address.all, :id, :full_address) %>
   </div>
  </div>
  <div>
   <%= f.radio_button :select_address, 3 %>
   <%= f.label :select_address, "新しいお届け先" %>
   <div class="row">
    <div class="col-md-2">
     <p>郵便番号（ハイフンなし）</p>
    </div>
    <div class="col-md-10">
     <%= f.text_field :postal_code %>
    </div>
   </div>
   <div class="row">
    <div class="col-md-2">
     <p>住所</p>
    </div>
    <div class="col-md-10">
     <%= f.text_area :address %>
    </div>
   </div>
   <div class="row">
    <div class="col-md-2">
     <p>宛名</p>
    </div>
    <div class="col-md-10">
     <%= f.text_field :name %>
    </div>
   </div>
  </div>
 </div>
 <div class="col-md-5 mx-auto">
  <%= f.submit '確認画面へ進む', class:"btn btn-sm btn-primary" %>
 </div>
 <% end %>
</div>
