<div class ="container">
 <div class ="row">
  <h5 class ="col-md-9">注文履歴詳細</h5>
 </div>
 <div class = "row">
   <div class ="col-md-6">
     <h5>注文情報</h5>
     <div>注文日<%= @order.created_at.strftime("%Y年%m月%d日") %></div>
     <div>配送先
      〒<%= @order.postal_code %>
      <%= @order.address %>
      <%= @order.name %>
      </div>
     <div>支払方法<%= @order.payment_method_i18n %></div>
   </div>
   <div class ="col-md-6">
     <h5>請求情報</h5>
     <% @order.order_details.each do |order_detail| %>
      <% @invoice +=  (order_detail.item.price * 1.08).floor * order_detail.amount %>
      <% end %>
      <div>合計金額<%= @invoice %></div>
   　  <div>送料<%= @postage %></div>
   　  <div>請求金額<%= @invoice+@postage %></div>
     </div>
   </div>
   <div class = "row">
   <div class ="col-md-6">
   <h5>注文内容</h5>
   <table class="table">
     <tr>
       <th>商品</th>
       <th>単価（税込）</th>
       <th>個数</th>
       <th>小計</th>
     </tr>
     <% @order.order_details.each do |order_detail| %>
     <tr>
       <td><%= order_detail.item.name %></td>
       <td><%= (order_detail.price).to_i %></td>
       <td><%= order_detail.amount %></td>
       <td><%= (order_detail.price).to_i*order_detail.amount %></td>
     </tr>
     <% end %>
   </table>
   </div>
   </div>
 </div>
</div>